/InputMahasiswa/InputMahasiswa/nbproject/private/
/InputMahasiswa/InputMahasiswa/build/
/InputMahasiswa/InputOutput/nbproject/private/
/InputMahasiswa/InputOutput/build/
/TipeData/nbproject/private/
/TipeData/build/
/maksmin/nbproject/private/
/maxmin2/nbproject/private/
/maxmin2/build/
/MaxMin/nbproject/private/
/MaxMin/build/
/OKjek/nbproject/private/
/OKjek/build/